<!-- Answer Explanation -->
<div class="main-content">
  <div id="overlay">
    <div class="round-results">
<!-- if Answer is correct, attach .is-correct class -->
<!-- else attach .is-incorrect -->

      {{#if has_answer}}
        <h4 class="points {{answer_class}}">+10 points</h4>
        <h2><span>{{exclamation}}</span> {{answer_name}}</h2>
      {{else}}
        <h2><span>You didn't answer!</span> {{answer_name}}</h2>
      {{/if}}

    {{#if has_answer}}
      {{#if answer_is_correct}}
        <p>{{correct_headline}}</p>
      {{else}}
        <p>{{incorrect_headline}}</p>
      {{/if}}
    {{else}}
      <p>{{incorrect_headline}}</p>
    {{/if}}


    </div>
  </div>
  <!-- TODO: Replace US Map with SVG -->
  <img class="placeholder" src="assets/placeholder-states.png">
</div>

<!-- Player's Submited Answer -->
<div class="selection">
  <footer class="select-bar">

    {{#if has_answer}}
      <h3>You Selected:
        <strong>{{choice_name}}</strong>
      </h3>
    {{/if}}

  </footer>
</div>

